<p>reference input/form</p>

<form #formInput="ngForm">
  <input
    type="text"
    name="firstName"
    ngModel
    #firstName="ngModel"
    required
    pattern="[a-z]"
    [ngClass]="
      !firstName.valid ? 'border border-danger' : 'border border-success'
    "
  />
</form>

value: {{ firstName.value | json }}
<br />
touched: {{ firstName.touched | json }}
<br />
untouched: {{ firstName.untouched | json }}
<br />
valid: {{ firstName.valid | json }}
<br />
dirty: {{ firstName.dirty | json }}
<br />
pristine: {{ firstName.pristine | json }}
<br />
error: {{ firstName.errors | json }}

<hr />
<!-- -------------------------------------------------------------- -->

value: {{ formInput.value | json }}
<br />
touched: {{ formInput.touched | json }}
<br />
untouched: {{ formInput.untouched | json }}
<br />
valid: {{ formInput.valid | json }}
<br />
dirty: {{ formInput.dirty | json }}
<br />
pristine: {{ formInput.pristine | json }}
